<ActionBar>


</ActionBar>

<StackLayout orientation="vertical" horizontalAlignment="stretch" class="page">

  <Image stretch="aspectFit" width="200" marginBottom="40" marginTop="80"
         src="res://MainLogo" class="appear-in"></Image>




  <Button backgroundColor="#696969" color="#f0f8ff" height="50" class="appear-in-1 btn btn-rounded-lg fa " (tap)="showBooks()" [text] = "'\uf03a Catalog'"></Button>

  <Button backgroundColor="#696969" color="#f0f8ff" height="50" class="appear-in-2 btn btn-rounded-lg fa  " [text] = "'\uf05a Help'"></Button>

  <Button backgroundColor="#696969" color="#f0f8ff"  height="50"  class=" appear-in-3 btn btn-rounded-lg fa " [text] = "'\uf29c About'" ></Button>


</StackLayout>