

@keyframes appearInAnimaton {
  from {
    opacity: 0.0;
    transform: translate(0, -60);
  }
  to {
    opacity: 1.0;
    transform: translate(0, 0);
  }
}
.appear-in {
  opacity: 0;
  animation-name: appearInAnimaton;
  animation-duration: 450ms;
  animation-delay: 160ms;
  animation-timing-function: ease-out;
}

